
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Messsystem</h1>

<f:flashMessages />

<table  class="tx_multiproducts" >
	<tr>
		<th><f:translate key="tx_multiproducts_domain_model_messsystem.name" /></th>
		<th><f:translate key="tx_multiproducts_domain_model_messsystem.description" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{messsystems}" as="messsystem">
		<tr>
			<td><f:link.action action="show" arguments="{messsystem : messsystem}"> {messsystem.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{messsystem : messsystem}"> {messsystem.description}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{messsystem : messsystem}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{messsystem : messsystem}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Messsystem</f:link.action>
</f:section>